@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500&subset=cyrillic');

@font-face {
    font-family: 'pixelcyr';
    src: url('../fonts/pixelcyr.otf');
    src: url('../fonts/pixelcyr.woff') format('woff'), url('../fonts/pixelcyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 300px;
    background-color: #090915;
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Fira Sans', sans-serif;
    color: white;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.3;
}

h1 {
    margin-left: -0.15rem;
}

h2, .h2 {
    font-size: 1.8rem;
}

a {
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
}

a:hover,
.inverted a:hover{
    color: rgb(192, 95, 102);
    border-bottom: 1px solid rgba(192, 95, 102, 0.3);
}

a:hover,
a:visited,
a:focus{
    text-decoration: none;
}

a:hover img{
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    /*opacity: .7;*/
    /*transform: scale(1.02);*/
    -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
    filter: brightness(120%);
}

.inverted{
    color: white;
}

.inverted a{
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

img{
    max-width: 100%;
}

.text-muted {
    color: #7c7a7e;
}



/*=========     head    ===========*/

.navbar.bg-inverse {
    background-color: #090915;
}

.bg-dark {
    background-color: rgb(12, 11, 24) !important;
}

.navbar {
    font-family: 'pixelcyr';
    position: relative;
    top: 0;
    z-index: 2;
    padding-top: 2rem;
}

.navbar-collapse {
    padding-right: 220px;
}

.header_container {
    /*height: 190px;*/
    position: relative;
    padding-bottom: 1rem;
}

.header_pic {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.header_pic.dark {
    background-image: url("../img/header_bg_dark.gif");
}

.header_pic.light {
    background-image: url("../img/header_bg_light.gif");
}

.navbar-brand {
    width: 190px;
    height: 100px;
    position: relative;
    margin-right: 4rem;
    top: 0;
}

.navbar-brand .logotype {
    width: 190px;
    height: 70px;
    background-image: url("../img/kinamania_logo.png");
    background-size: contain;
    transition: .2s;
}

.navbar-brand:hover .logotype{
    -webkit-filter: brightness(150%); /* Safari 6.0 - 9.0 */
    filter: brightness(150%);
}

.navbar-brand .slogan {
    color: rgb(192, 95, 102);
    font-size: 14px;
    height: 20px;
    letter-spacing: -0.3px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 70px;
    width: 116px;
    background-image: url("../img/slogan.svg");
    background-repeat: no-repeat;
}

/*  menu  */
.nav-link {
    padding: 0 0.5rem 0.2rem;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /*margin-left: 0.2rem;*/
    margin-right: 0.2rem;
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    line-height: 1.2;
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link{
    border: none;
}

.navbar-dark .navbar-nav .live .nav-link {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(192, 95, 102);
    border-color: #cd7b5c #cd7b5c #903c47 #903c47;
    /*border-image: none;*/
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    text-shadow: 1px 1px 0 #903c47;
}

.navbar-dark .navbar-nav .live:hover .nav-link {
    background-color: #c97264;
    color: white;
    border: 2px solid;
    border-color: #d78f68 #d78f68 #964945 #964945 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(192, 95, 102);
}

.navbar-collapse .dropdown-toggle::after {
    display: none;
}

.navbar-collapse .nav-item{
    margin: 0 1rem;
}

.navbar-collapse .nav-item:first-child{
    margin-left: 0;
}

.navbar-collapse .nav-item:last-child{
    margin-right: 0;
}

.navbar-collapse .live{
    margin-left: .7rem;
}

/* иконки */
.navbar-collapse .nav-item::before {
    margin-right: 0.5rem;
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    color: white;
    font-size: .8rem;
    margin-top: -2px;
}

.navbar-collapse .nav-item:hover::before,
.navbar-collapse .nav-item:hover .nav-link {
    color: rgb(192, 95, 102);
}

.navbar-collapse .live::before {
    content: "\0491";
}

.navbar-collapse .music::before {
    content: "\0407";
}

.navbar-collapse .video::before {
    content: "\0490";
}

.navbar-collapse .chronicles::before {
    content: "\0408";
}

/*  menu done  */




/*  animation  */
@-webkit-keyframes tv {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    45% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes tv {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    45% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.header_pic.light {
    webkit-animation: tv 3s linear infinite;
    animation: tv 3s linear infinite;
}

/*  animation done  */

/*=========     head done    ===========*/



/*Main Last Video*/
.main_last_video_wrapper{
    /*height: 750px;*/
}

.bg_wrapper{
    position: relative;
}

.main_last_video{
    height: 550px;
    margin: 0 auto;
    position: relative;
    width: 70%;
    z-index: 1;
}

.main_last_video h1 {
    margin-bottom: 1.5rem;
}

.main_last_video .desc div{
    display: inline-flex;
    line-height: 50px;
    margin-right: 1rem;
}

.main_last_video .desc{
    /*height: 60px;*/
    /*line-height: 60px;*/
}

.main_last_video .desc .viewed span{
    font-size: 1.2rem;
    color: white;
    margin-right: 0.5rem;
}

.main_last_video .preview{
    border: none;
    display: block;
}

.main_last_video .preview img{
    transition: .2s;
}

.main_last_video > div{
    padding: 0 1.5rem;
}

.main_last_video > div:first-child{
    padding-left: 0;
}

.main_last_video > div:last-child{
    padding-right: 0;
}





/*Scrolling menu*/
.main_last_video_wrapper .second_menu {
    background-color: #1a131f;
    font-size: 0.8rem;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.second_menu .scroll-menu-wrapper {
    max-width: 100%;
}

.second_menu a{
    color: #7c7a7e;
    line-height: 37px;
}

.second_menu a:hover {
    color: rgb(192, 95, 102);
    border: none;
}

.second_menu .nav-item{
    font-family: 'pixelcyr';
    border-right: 1px solid #312b36;
    padding: 0 1rem;
}

.second_menu .nav-item:last-of-type,
.second_menu .owl-item:last-of-type .nav-item{
    border: none;
    /*margin-right: 1.5rem;*/
}

.second_menu .search-form{
    width: 160px;
    display: inline-flex;
    text-align: left;
}

.second_menu .search-form fieldset {
    position: relative;
}

.second_menu .search-form input.form-control{
    border: none;
    background-color: #261f2a;
    opacity: .7;
    padding-left: 2rem;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 120px;
    transition: .2s;
    display: inline-block;
}

.second_menu .search-form input.form-control:focus{
    opacity: 1;
    background-color: #261f2a;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, .1);
    width: 160px;
}

.second_menu .search-form button{
    border: medium none;
    color: #7c7a7e;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    position: absolute;
    top: 4px;
    left: 0;
}

.second_menu .form-control:focus{
    background-color: #261f2a;
}


.second_menu .btn-outline-success:hover {
    color: #fff;
    background-color: transparent;
    border: none;
}
/*Scrolling menu*/





/* dropdown */
.dropdown-menu {
    background-color: #090915;
    border: 2px solid rgb(192, 95, 102);
    border-radius: 0;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.4);
}

.dropdown-item {
    padding: 0.45rem 1.5rem;
}

.dropdown-menu::after {
    background-color: #090915;
    border-right: 2px solid rgb(192, 95, 102);
    border-top: 2px solid rgb(192, 95, 102);
    box-sizing: initial;
    content: "";
    display: block;
    height: 5px;
    left: 30px;
    position: absolute;
    top: -5px;
    transform: rotate(-45deg);
    width: 5px;
}

a.dropdown-item {
    color: rgb(192, 95, 102);
    position: relative;
    line-height: 1rem;
}

.dropdown-divider {
    border-top: 2px solid rgba(192, 95, 102, .3);
}

.dropdown-item::before {
    background-color: rgb(192, 95, 102);
    content: "";
    display: inline-block;
    height: 3px;
    left: 15px;
    position: absolute;
    top: 13px;
    width: 3px;
}

.dropdown-item:hover{
    border: none !important;
}
/* dropdown done */




/*=========    content    =============*/
.container.main_content {
    /*padding-top: 2.5rem;*/
}

.container a{
    padding-bottom: 0.1rem;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}


/*Main Video List*/
.main_list {
    padding: 3rem 0;
    border-bottom: 1px dashed #7c7a7e;
}

.main_list a.list-header{
    color: #7c7a7e;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    position: relative;
    padding-left: 50px;
}

.main_list a.list-header::before {
    background-size: contain;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
    top: -2px;
}

.main_list.fresh-videos a.list-header::before{
    background-image: url("../img/fresh-videos-icon.png");
}

.main_list.playstation-frontiere a.list-header::before{
    background-image: url("../img/playstation-icon.png");
}

.main_list.kitchen a.list-header::before{
    background-image: url("../img/kitchen-icon.png");
}

.main_list a.list-header:after{
    background-image: url("../img/pixel-arrow.svg");
    content: "";
    display: inline-block;
    height: 15px;
    position: absolute;
    right: -20px;
    top: 11px;
    width: 8px;
}

.main_list a.list-header:hover{
    color: #7c7a7e;
}

.videos-list::after {
    background-image: url("../img/fade.png");
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
    width: 100px;
}

/*animation*/
@-webkit-keyframes moving-cursor {
    0% {
        right: -20px
    }

    50% {
        right: -17px;
    }

    100% {
        right: -13px;
    }
}

@keyframes moving-cursor {
    0% {
        right: -20px
    }

    50% {
        right: -17px;
    }

    100% {
        right: -13px;
    }
}
/*animation*/

.main_list a.list-header:hover:after{
    webkit-animation: moving-cursor .4s linear infinite;
    animation: moving-cursor .4s linear infinite;
}

.main_list .video-name{
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    display: inline;
    font-size: 1.3rem;
}

.main_list .video-link{
    border: medium none;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.main_list .video-cover{
    margin-bottom: .5rem;
    transition: .2s;
}

.main_list .video-name:hover,
.main_list .video-link:hover .video-name{
    border-bottom: 1px solid rgba(192, 95, 102, .3);
}

.main_list .video-unit{
    width: 300px;
}

.main_list .date{
    font-style: italic;
}

.videos-list .video-unit.more{
    width: 100px;
    /*color: #090915;*/
    padding: 70px 30px;
    /*display: inline-block;*/
}

.videos-list .video-unit.more a{
    border: none;
}

.fa-inverse {
    color: #090915 !important;
}


/*owl-carousel*/
.owl-prev, .owl-next{
    top: 35%;
    height: 40px;
    opacity: 1;
    position: absolute;
    width: 30px;
    transition: .2s;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -10px;
    z-index: 1;
}

.owl-nav .disabled{
    opacity: 0;
}
/*owl-carousel*/



/*Кнопки с курсором*/
.button_container{
    padding-top: 1rem;
}

.button_container a{
    margin-right: 3rem;
}

.button_container a:last-child{
    margin-right: 0;
}

.moving_cursor{
    border: none;
    text-transform: uppercase;
    transition: .2s;
    color: #7c7a7e;
    position: relative;
    letter-spacing: .2px;
}

.moving_cursor:before{
    display: inline-block;
    width: 14px;
    height: 15px;
    content: "";
    background-image: url("../img/moving_cursor.gif");
    background-size: contain;
    position: absolute;
    left: -25px;
    top: 2px;
    opacity: 0;
    transition: .2s;
}

.moving_cursor:hover{
    color: white;
    border: none;
}

.moving_cursor:hover:before{
    opacity: 1;
}
/*Кнопки с курсором*/


/*Алерт с новостью*/
.breaking-news{
    background-color: rgb(103, 56, 67);
    border: none;
    border-radius: 0;
    color: #140e19;
    padding: 1.5rem;
    margin: 0;
}

.alert-wrapper{
    width: 70%;
    margin: 0 auto;
}

.alert-danger a,
.alert-danger .rubric a{
    color: rgb(9, 9, 21);
}

.alert-danger a{
    border-bottom: 1px solid rgba(9, 9, 21, .3);
}

.alert-danger a:hover{
    color: rgb(192, 95, 102);
    border-bottom-color: rgba(192, 95, 102, .3);
}

.breaking-news .rubric{
    text-align: right;
    font-size: 1rem;
    padding-left: 0;
}

.breaking-news .news-body{
    text-align: left;
    padding-right: 0;
}



/*  unit  */
.unit {
    border-top: 1px dashed rgb(99, 108, 114);
    padding: 2.5rem 0;
}

.unit .heading {
    margin-bottom: 1.2rem;
}

.unit .embed-responsive,
.unit img.img-fluid {
    margin-bottom: 1rem;
}

.rubric {
    font-family: 'pixelcyr';
    margin-bottom: .3rem;
}

.rubric a {
    border: none;
    color: rgb(99, 108, 114);
    /*border-bottom: 2px solid rgba(99, 108, 114, 0.3);*/
}

.rubric a:focus {
    text-decoration: none;
}

.rubric a:hover {
    text-decoration: none;
    color: rgb(192, 95, 102);
    /*border-bottom: 2px solid rgba(192, 95, 102, 0.3);*/
}

.unit.teasing {
    font-family: "pixelcyr";
    text-align: center;
    padding: 4rem 0;
}

.unit.teasing img {
    margin-bottom: 1rem;
}

.unit.teasing a .desc{
    display: inline-block;
}



/*Floor Divider*/
.floor-divider{
    background-color: #1a131f;
    padding: 3rem 0;
    margin: -1px -2rem;
}

.floor-divider h2{
    font-size: 3rem;
}

.floor-divider.kinaman .container,
.floor-divider.one-day-childhood .container{
    margin: 0 auto;
}
/*Floor Divider*/





/*=========    content done    =============*/

.footer {
    bottom: 0;
    height: 300px;
    /*line-height: 60px;*/
    position: absolute;
    width: 100%;
    padding: 3rem 0;
}

.footer .logotype{
    width: 160px;
    height: 56px;
    background-image: url("../img/kinamania_logo_white.png");
    background-size: contain;
    margin-bottom: 20px;
}

.footer .copyright,
.footer .contacts{
    padding-left: 1rem;
}

.footer .compensate{
    margin-left: -1rem;
}

.footer .copyright{
    margin-bottom: 1rem;
}

.footer .social a{
    /*color: #090915;*/
    border: none;
}