@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500&subset=cyrillic');

@font-face {
    font-family: 'pixelcyr';
    src: url('../fonts/pixelcyr.otf');
    src: url('../fonts/pixelcyr.woff') format('woff'), url('../fonts/pixelcyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 300px;
    background-color: rgb(9, 9, 21);
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Fira Sans', sans-serif;
    color: white;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    margin-bottom: 0.7rem;
}

h1 {
    margin-left: -0.15rem;
    /*margin-bottom: 1rem;*/
}

h2, .h2 {
    font-size: 1.65rem;
    margin-top: 2.3rem;
}

h3, .h3 {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 1.6rem;
}

.main_content h1,
.main_content .h1 {
    font-size: 3.5rem;
    margin-bottom: 1.7rem;
}

.main_content.row {
    margin: 0;
}

a {
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
}

a:hover,
.inverted a:hover {
    color: rgb(192, 95, 102);
    border-bottom: 1px solid rgba(192, 95, 102, .3);
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

a:hover img {
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    /*opacity: .7;*/
    /*transform: scale(1.02);*/
    -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
    filter: brightness(120%);
}

p {
    margin-bottom: .7rem;
}

.inverted {
    color: white;
}

.inverted a {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

img {
    max-width: 100%;
}

.btn-outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.blockquote {
    line-height: 2rem;
    /*margin-bottom: 2rem;*/
    font-size: 1.2rem;
}

.blockquote strong {
    letter-spacing: .07rem;
}

.iconed {
    transition: .2s;
}

.iconed:hover i {
    color: rgb(192, 95, 102);
}

.compensate {
    margin-left: -1rem;
}

/*=========     head    ===========*/

.navbar.bg-inverse {
    background-color: rgb(9, 9, 21);
}

.bg-dark {
    background-color: rgb(9, 9, 21);
!important;
}

.navbar {
    /*font-family: 'pixelcyr';*/
    position: relative;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    top: 0;
    z-index: 2;
    padding-top: 2rem;
}

.navbar-collapse {
    padding-right: 220px;
}

.header_container {
    /*height: 190px;*/
    position: relative;
    padding-bottom: 1rem;
}

.header_pic {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.header_pic.dark {
    background-image: url("../img/header_bg_dark.gif");
}

.header_pic.light {
    background-image: url("../img/header_bg_light.gif");
}

.navbar-brand {
    width: 190px;
    height: 100px;
    position: relative;
    margin-right: 4rem;
    top: 0;
}

.navbar-brand .logotype {
    width: 190px;
    height: 69px;
    background-image: url("../img/kinamania_logo.png");
    background-size: contain;
    transition: .2s;
    position: relative;
}

.navbar-brand .logotype::before,
.navbar-brand .logotype::after {
    display: block;
    width: 190px;
    height: 69px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: .1s;
}

.navbar-brand .logotype::after {
    background-image: url("../img/kinamania-pixel-logo-2.jpg");
    opacity: 0;
    transition-delay: .1s;
}

.navbar-brand .logotype::before {
    background-image: url("../img/kinamania-pixel-logo-1.jpg");
    opacity: 0;
}

.navbar-brand .logotype:hover::after {
    opacity: 1;
}

.navbar-brand .logotype:hover::before {
    opacity: 1;
}

.navbar-brand .slogan {
    color: rgb(192, 95, 102);
    font-size: 14px;
    height: 20px;
    letter-spacing: -0.3px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 70px;
    width: 116px;
    background-image: url("../img/slogan.svg");
    background-repeat: no-repeat;
}

/*  menu  */
.nav-link {
    padding: 0.1rem 0.5rem;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /*margin-left: 0.2rem;*/
    margin-right: 0.2rem;
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    line-height: 1.2;
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link {
    border: none;
}

.navbar-dark .navbar-nav .live .nav-link {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(192, 95, 102);
    border-color: #cd7b5c #cd7b5c #903c47 #903c47;
    /*border-image: none;*/
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-shadow: 1px 1px 0 #903c47;
}

.navbar-dark .navbar-nav .live:hover .nav-link {
    background-color: #c97264;
    color: white;
    border: 2px solid;
    border-color: #d78f68 #d78f68 #964945 #964945 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(192, 95, 102);
}

.navbar-collapse .dropdown-toggle::after {
    display: none;
}

.navbar-collapse .nav-item:first-child {
    margin-left: 0;
}

.navbar-collapse .nav-item:last-child {
    margin-right: 0;
}

.navbar-collapse .live {
    margin-left: .7rem;
}

/* иконки */
.navbar-collapse .nav-item::before {
    margin-right: 0.5rem;
    transition: color 0.2s ease-out 0s, border-color 0.25s ease-out 0s, box-shadow 0.25s ease-out 0s;
    color: white;
    font-size: 2.5rem;
    margin-top: -1.1rem;
    font-family: 'pixelcyr';
    text-transform: none;
}

.navbar-collapse .nav-item:hover::before,
.navbar-collapse .nav-item:hover .nav-link {
    color: rgb(192, 95, 102);
}

.navbar-collapse .live::before {
    content: "\0491";
}

.navbar-collapse .music::before {
    content: "\0407";
}

.navbar-collapse .video::before {
    content: "\0490";
}

.navbar-collapse .chronicles::before {
    content: "\0408";
}

/*  menu done  */

/*  animation  */
@-webkit-keyframes tv {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    45% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes tv {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    45% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.header_pic.light {
    webkit-animation: tv 3s linear infinite;
    animation: tv 3s linear infinite;
}

/*  animation done  */

/*=========     head done    ===========*/

/*Main Last Video*/
.main_last_video_wrapper {
    /*height: 750px;*/
}

.bg_wrapper {
    position: relative;
}

.main_last_video {
    height: 550px;
    margin: 0 auto;
    position: relative;
    width: 70%;
    z-index: 1;
}

.main_last_video h1 {
    margin-bottom: 1.5rem;
}

.main_last_video .desc div {
    display: inline-flex;
    line-height: 50px;
    margin-right: 1rem;
}

.main_last_video .desc {
    /*height: 60px;*/
    /*line-height: 60px;*/
}

.main_last_video .desc .viewed span {
    font-size: 1.2rem;
    color: white;
    margin-right: 0.5rem;
}

.main_last_video .preview {
    border: none;
    display: block;
}

.main_last_video .preview img {
    transition: .2s;
}

.main_last_video > div {
    padding: 0 1.5rem;
}

.main_last_video > div:first-child {
    padding-left: 0;
}

.main_last_video > div:last-child {
    padding-right: 0;
}

/*Scrolling menu*/
.main_last_video_wrapper .second_menu {
    background-color: rgb(26, 19, 31);
    font-size: 0.8rem;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.second_menu .scroll-menu-wrapper {
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
}

.second_menu a {
    color: rgb(125, 125, 125);
    line-height: 37px;
}

.second_menu a:hover {
    color: rgb(192, 95, 102);
    border: none;
}

.second_menu .nav-item {
    /*font-family: 'pixelcyr';*/
    border-right: 1px solid rgb(35, 33, 43);
    padding: 0 1rem;
}

.second_menu .nav-item:last-of-type,
.second_menu .owl-item:last-of-type .nav-item {
    border: none;
    /*margin-right: 1.5rem;*/
}

.second_menu .search-form {
    width: 160px;
    display: inline-flex;
    text-align: left;
}

.second_menu .search-form fieldset {
    position: relative;
}

.second_menu .search-form input.form-control {
    border: none;
    background-color: rgb(38, 31, 42);
    opacity: .7;
    padding-left: 2rem;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 120px;
    transition: .2s;
    display: inline-block;
}

.second_menu .search-form input.form-control:focus {
    opacity: 1;
    background-color: rgb(38, 31, 42);
    box-shadow: 0px 0px 17px rgba(0, 0, 0, .1);
    width: 160px;
}

.second_menu .search-form button {
    border: medium none;
    color: rgb(125, 125, 125);
    font-size: 0.9rem;
    padding: 0 0.5rem;
    position: absolute;
    top: 4px;
    left: 0;
}

.second_menu .form-control:focus {
    background-color: rgb(38, 31, 42);
}

.second_menu .btn-outline-success:hover {
    color: #fff;
    background-color: transparent;
    border: none;
}

/*Scrolling menu*/

/* dropdown */
.dropdown-menu {
    background-color: rgb(9, 9, 21);
    border: 2px solid rgb(192, 95, 102);
    border-radius: 0;
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.4);
    margin-top: .5rem;
}

.dropdown-item {
    padding: 0.45rem 1.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgb(192, 95, 102);
    color: rgb(9, 9, 21);
}

.dropdown-item::before {
    background-color: rgb(192, 95, 102);
    content: "";
    display: inline-block;
    height: 3px;
    left: 15px;
    position: absolute;
    top: 13px;
    width: 3px;
    transition: .2s;
}

.dropdown-item:hover::before {
    background-color: rgb(9, 9, 21);
}

.dropdown-menu::after {
    background-color: rgb(9, 9, 21);
    border-right: 2px solid rgb(192, 95, 102);
    border-top: 2px solid rgb(192, 95, 102);
    box-sizing: initial;
    content: "";
    display: block;
    height: 5px;
    left: 30px;
    position: absolute;
    top: -5px;
    transform: rotate(-45deg);
    width: 5px;
}

a.dropdown-item {
    color: rgb(192, 95, 102);
    position: relative;
    line-height: 1rem;
}

.dropdown-divider {
    border-top: 2px solid rgba(192, 95, 102, .3);
}

.dropdown-item:hover {
    border: none !important;
}

/* dropdown done */

/*=========    content    =============*/
.container.main_content {
    /*padding-top: 2.5rem;*/
}

.container a {
    padding-bottom: 0.1rem;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

/*Main Video List*/
.main_list, .fullscreen {
    padding: 3rem 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.fullscreen {
    padding-top: 0;
}

.main_list a.list-header {
    color: rgb(125, 125, 125);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    position: relative;
    padding-left: 50px;
}

.main_list a.list-header::before {
    background-size: contain;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
    top: -2px;
}

.main_list.fresh-videos a.list-header::before {
    background-image: url("../img/fresh-videos-icon.png");
}

.main_list.playstation-frontiere a.list-header::before {
    background-image: url("../img/playstation-icon.png");
}

.main_list.kitchen a.list-header::before {
    background-image: url("../img/kitchen-icon.png");
}

.main_list.dendy-memories a.list-header::before {
    background-image: url("../img/dendy-memories-icon.png");
}

.main_list a.list-header:after {
    background-image: url("../img/pixel-arrow.svg");
    content: "";
    display: inline-block;
    height: 15px;
    position: absolute;
    right: -20px;
    top: 11px;
    width: 8px;
}

.videos-list.owl-carousel::after {
    background-image: url("../img/fade.png");
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
    width: 100px;
}

/*animation*/
@-webkit-keyframes moving-cursor {
    0% {
        right: -20px
    }

    50% {
        right: -17px;
    }

    100% {
        right: -13px;
    }
}

@keyframes moving-cursor {
    0% {
        right: -20px
    }

    50% {
        right: -17px;
    }

    100% {
        right: -13px;
    }
}

/*animation*/

.main_list a.list-header:hover:after {
    webkit-animation: moving-cursor .4s linear infinite;
    animation: moving-cursor .4s linear infinite;
    filter: brightness(120%);
    transition: .2s;
    fill: white;
}

.main_list a.list-header:hover:before {
    filter: brightness(120%);
    transition: .2s;
}

.main_list a.list-header:hover {
    /*color: rgb(150, 150, 150);*/
    color: white;
}

.main_list .video-name {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    display: inline;
    font-size: 1.3rem;
}

.main_list .video-link {
    border: medium none;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.main_list .video-cover {
    margin-bottom: .5rem;
    transition: .2s;
}

.main_list .video-name:hover,
.main_list .video-link:hover .video-name {
    border-bottom: 1px solid rgba(192, 95, 102, .3);
}

.main_list .video-unit {
    width: 300px;
}

.main_list .date {
    font-style: italic;
}

.videos-list .video-unit.more {
    width: 100px;
    /*color: rgb(9, 9, 21);*/
    padding: 70px 30px;
    /*display: inline-block;*/
}

.videos-list .video-unit.more a {
    border: none;
}

.more .fa-inverse {
    color: rgb(9, 9, 21);
}

/*owl-carousel*/
.owl-prev, .owl-next {
    top: 35%;
    height: 40px;
    opacity: 1;
    position: absolute;
    width: 30px;
    transition: .2s;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -10px;
    z-index: 1;
}

.owl-nav .disabled {
    opacity: 0;
}

/*owl-carousel*/

/*Кнопки с курсором*/
.button_container {
    padding-top: 1rem;
}

.button_container a {
    margin-right: 3rem;
}

.button_container a:last-child {
    margin-right: 0;
}

.moving_cursor {
    border: none;
    text-transform: uppercase;
    transition: .2s;
    color: rgb(125, 125, 125);
    position: relative;
    letter-spacing: .2px;
}

.moving_cursor:before {
    display: inline-block;
    width: 14px;
    height: 15px;
    content: "";
    background-image: url("../img/moving_cursor.gif");
    background-size: contain;
    position: absolute;
    left: -25px;
    top: 2px;
    opacity: 0;
    transition: .2s;
}

.moving_cursor:hover {
    color: white;
    border: none;
}

.moving_cursor:hover:before {
    opacity: 1;
}

/*Кнопки с курсором*/

/*Алерт с новостью*/
.breaking-news {
    background-color: rgb(103, 56, 67);
    border: none;
    border-radius: 0;
    color: rgb(9, 9, 21);
    padding: 1.5rem;
    margin: 0;
}

.alert-wrapper {
    width: 70%;
    margin: 0 auto;
}

.alert-danger a,
.alert-danger .rubric a {
    color: rgb(9, 9, 21);
}

.alert-danger a {
    border-bottom: 1px solid rgba(9, 9, 21, .3);
}

.alert-danger a:hover {
    color: rgb(192, 95, 102);
    border-bottom-color: rgba(192, 95, 102, .3);
}

.breaking-news .rubric {
    text-align: right;
    font-size: 1rem;
    padding-left: 0;
}

.breaking-news .news-body {
    text-align: left;
    padding-right: 0;
}

/*  unit  */
.heading {
    margin-bottom: 1.2rem;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5 {
    margin-bottom: 0;
}

.unit .embed-responsive,
.unit img.img-fluid {
    margin-bottom: 1rem;
}

.rubric {
    /*font-family: 'pixelcyr';*/
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    margin-bottom: .3rem;
}

.rubric a {
    border: none;
    color: rgb(125, 125, 125);
}

.rubric a:focus {
    text-decoration: none;
}

.rubric a:hover {
    text-decoration: none;
    color: rgb(192, 95, 102);
}

.unit.teasing {
    /*font-family: "pixelcyr";*/
    text-align: center;
    padding: 4rem 0;
}

.unit.teasing img {
    margin-bottom: 1rem;
}

.unit.teasing a .desc {
    display: inline-block;
}

/*Floor Divider*/
.floor-divider {
    background-color: rgb(26, 19, 31);
    padding: 3rem 0;
    margin: -1px -2rem;
}

.floor-divider h2 {
    font-size: 3rem;
}

.floor-divider.kinaman .container,
.floor-divider.one-day-childhood .container {
    margin: 0 auto;
}

.floor-divider.kinaman .row > div {
    padding: 0 1rem;
}

/*Floor Divider*/

/*Открытое видео*/
.open-video-wrapper {
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 2rem;*/
    max-width: 750px;
    padding-top: 1rem;
}

.open-video {
    position: relative;
    margin-bottom: 2rem;
    overflow: inherit;
}

.open-video-wrapper .video-name,
.open-video-wrapper .video-desc {
    padding: 0;
}

.related-list {
    padding-top: 1rem;
}

.open-video .open-video-switch {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 140px;
    border: none;
    margin-top: -2%;
}

.open-video .open-video-switch:hover {
    color: rgb(192, 95, 102) !important;
}

.open-video .open-video-switch .arrow {
    display: block;
    width: 2rem;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5rem;
}

.open-video .open-video-switch.ealier {
    left: -160px;
}

.open-video .open-video-switch.later {
    right: -160px;
    text-align: right;
}

/*Открытый плейлист*/

.header_common.playlist {
    background-image: url("../img/playlist-head-bg.gif");
    background-position: left bottom;
    background-size: auto 280px;
    height: 265px;
    margin-bottom: 2rem;
}

.header_common.playlist .head-block {
    margin-bottom: 0;
}

.videos-list .video-unit {
    margin-bottom: 1.5rem;
}

.head-block {
    margin-bottom: 2rem;
}

.playlist-section-menu a:hover {
    border: none;
}

.playlist-section-menu .nav-link.active {
    color: rgb(26, 19, 31);
    background-color: white;
}

.playlist-section-menu {
    margin-left: -.25rem;
}

.playlist-section-menu .nav-item {
    margin-right: .5rem;
}

.playlist-section-menu .nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    padding: .1rem .55rem;
}

/*=========    content done    =============*/

/*  article  */
.side_menu, .base_article {
    padding-top: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.side_menu, .base_article img {
    margin: .5rem 0;
}

.base_article section,
.base_article blockquote,
.base_article > p {
    max-width: 80%;
}

blockquote.blockquote{
    max-width: calc(100% + 1rem);
    padding: 1.5rem 2rem;
    background-color: rgb(26, 19, 31);
    margin-left: -1rem;
}

aside {
    color: rgb(125, 125, 125);
    font-size: 0.8rem;
    /*margin-left: 790px;*/
    margin-left: 80%;
    width: 200px;
    position: absolute;
    padding: 0 0 .5rem 2rem;
    letter-spacing: .03rem;
    line-height: 1.3rem;
}

aside img {
    max-width: 100%;
}

p.photo_desc {
    font-size: 0.8rem;
    font-style: italic;
}

.base_article aside p {
    max-width: 100%;
}

/*  side menu  */
.side_menu {
    padding-left: 0;
    padding-right: 2rem;
}

.side_menu a {
    border: none;
}

.side_menu .single-item {
    list-style: none;
    margin-bottom: .5rem;
    position: relative;
    letter-spacing: .06rem;
}

.side_menu a {
    display: inline;
    padding: 0 0 .1rem 0;
}

.side_menu .active {
    font-weight: bold;
    color: rgb(192, 95, 102);
}

.side_menu .active::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f054";
    font-size: .7rem;
    margin-left: .5rem;
    position: absolute;
    left: -1.5rem;
    top: 25%;
    height: 100%;
}

.group-item {
    font-size: .8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.group-item .heading {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: .7rem;
}

.group-single-item {
    margin-bottom: .7rem;
    position: relative;
}

.group-single-item::before {
    /*content: "•";*/
    position: absolute;
    left: -.5rem;
}

.side-menu-collapse.btn-outline {
    background-color: white;
    color: rgb(9, 9, 21);
}

.side-menu-collapse.btn-outline.collapsed {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/*Gallery*/
.gallery .gallery-item {
    margin-bottom: 1.4rem;
    padding: 0 .7rem;
}

.gallery .gallery-item a {
    position: relative;
    overflow: hidden;
}

.gallery-item a .background {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-size: 100%;
    transition: .1s;
}

a:hover .background {
    transform: scale(1.1);
}

.gallery-item .caption {
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    padding: 0 .5rem .5rem .5rem;
    left: 0;
    width: 100%;
}

.gallery-item .caption div {
    z-index: 1;
    position: relative;
}

.gallery-item .caption::before {
    display: block;
    position: absolute;
    content: "";
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, .5)', GradientType=1); /* IE6-9 */
    height: 120%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.img-thumbnail {
    padding: 0;
    background-color: transparent;
    border: none;
}

.gallery-item a:hover .background {
    transition: .2s;
    /*opacity: .9;*/
}

.gallery-item a:hover .caption div {
    transition: .2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.row.gallery {
    margin: 0 -.7rem 3rem -.7rem;
}

/*Pagination*/
.page-item.disabled .page-link {
    color: rgb(35, 33, 43);
}

.page-item.disabled .page-link,
.page-link:hover,
.page-link:active,
.page-link:focus {
    border: none !important;
}

.page-link {
    border: none !important;
    color: rgb(125, 125, 125);
}

.page-link.bg-dark:hover,
.page-link.bg-dark:active,
.page-link.bg-dark:focus {
    color: rgb(192, 95, 102);
    background-color: rgb(35, 33, 43) !important;
}

.page-item.active .page-link {
    color: rgb(125, 125, 125);
    background-color: rgb(35, 33, 43) !important;
}

/*Jouele*/
.jouele-skin-dark .jouele-progress-line-bar_play.jouele-is-playing:after { /* Control 'elapsed' when playing */
    background-color: rgb(192, 95, 102) !important;
}

.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-bar_play:after { /* Control 'elapsed' on hover */
    background-color: rgb(162, 67, 74) !important;
}

.jouele-skin-dark .jouele-progress-line-lift.jouele-is-playing { /* Control 'position' when playing */
    background-color: rgb(192, 95, 102) !important;
}

.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift { /* Control 'position' on hover */
    background-color: rgb(162, 67, 74) !important;
}

.jouele-skin-dark .jouele-progress-line-lift.jouele-is-playing:before { /* Preloader animation in control 'position' when playing */
    border-color: rgb(192, 95, 102) !important;
}

.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift:before { /* Preloader animation in control 'position' on hover */
    border-color: rgb(162, 67, 74) !important;
}

.jouele-skin-dark .jouele-info-control-button-icon_play.jouele-is-playing .jouele-svg-color { /* Control 'play-pause' when playing */
    fill: rgb(192, 95, 102) !important;
}

.jouele-skin-dark .jouele-info-control-button:hover .jouele-info-control-button-icon_play .jouele-svg-color { /* Control 'play-pause' on hover */
    fill: rgb(162, 67, 74) !important;
}

.dashed hr {
    border-top-style: dashed;
}

.footer {
    bottom: 0;
    height: 300px;
    /*line-height: 60px;*/
    position: absolute;
    width: 100%;
    padding: 3rem 0;
}

.footer .logotype {
    width: 159px;
    height: 56px;
    background-image: url("../img/kinamania_logo_white.png");
    background-size: contain;
    margin-bottom: 20px;
}

.footer .copyright,
.footer .contacts {
    /*padding-left: 1rem;*/
}

.footer .compensate {
    margin-left: 0;
}

.footer .copyright {
    margin-bottom: 1rem;
}

.footer .social a {
    /*color: rgb(9, 9, 21);*/
    border: none;
}