@import "variables";

.pagination {

  .page-link {
    color: $gray;
    border: none !important;
  }

  .page-item.active .page-link {
    @extend .page-link;
    background-color: $gray-dark !important;
  }

  .page-item.disabled .page-link {
    color: $gray-dark;
  }

  .page-item.disabled .page-link,
  .page-link:hover,
  .page-link:active,
  .page-link:focus {
    border: none !important;
  }

  .page-link.bg-dark:hover,
  .page-link.bg-dark:active,
  .page-link.bg-dark:focus {
    color: $salmon-base;
    background-color: $gray-dark !important;
  }

}